*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.navbar{
    display: flex;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    flex-flow: row;
    flex-direction: row;
    position:fixed;
    z-index: 1;
    background-color: #aaa8a0ce;
}
#bg-photo{
    background: url(const.jpeg) no-repeat center center/cover;
    /* background: url('https://source.unsplash.com/random/1366x768/?construction-tools') no-repeat center center/cover; */
    opacity: 1;
    width: 100%;
    height: inherit;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
}
header{
    text-align: center;
    align-items: center;
    color: white;
    justify-content:space-evenly;
    font-size: 4.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
}
.navbar-links{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    transition: 1s;
    margin: 2px;
}
.navbar-links:hover{
    cursor: default;
    border-radius: 10%;
    background-color:rgba(255, 255, 255, 0.192);
}
#about{
    font-size: 1rem;
    color: white;
}
#tagline{
    font-size: 2rem;
    color: white;
}
#social-media{
    background-color: white;
    font-size: 2rem;
    /* background-color:#ffd992; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.logos{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
    height: 7vh;
    width: max-content;
}
.logo-container{
    /* align-content: space-around; */
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    height: 10vh;
}
footer{
    /* border-radius: 10%; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color:#B68D40; */
    font-size:1rem;
    height: 20rem;
    color: black;
    text-align: center;
    align-items:center;
    align-content: space-around;
    justify-content: space-around;
}
.footer-headings{
    /* padding-right: 10px; */
    font-size: 1rem;
    font-weight: bold;
}
.footer-container{

    display: flex;
    flex-direction: column;
    /* height: 40%; */
    justify-content: space-evenly;

    align-self:flex-start;
    align-items: flex-start;
    /* place-items:initial; */
}
