*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
header{
    display: flex;
    width: 100%;
    height: 100%;
    /* background: url(const.jpeg) no-repeat center center/cover; */
    background: url('https://source.unsplash.com/random/1366x768/?construction') no-repeat center center/cover;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
.navbar{
    display: flex;
    width: 100%;
    color: white;
    font-size: 1rem;
    flex-flow: row;
    flex-direction: row;
}
.navbar-links{
    padding: 0.3rem;
    transition: 1s;
    margin: 2px;
}
.navbar-links:hover{
    cursor: default;
    border-radius: 10%;
    background-color: black;
    opacity: 0.8;
}
#compname{
    color: white;
    margin-top: 10vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    align-items: center;
}
.company_description{
    margin-top: 3vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:bisque;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header{
    background: url('https://source.unsplash.com/random/768x1366/?construction') no-repeat center center/cover;
    /* background: url(const.jpeg) no-repeat center center/cover; */
    }
  }